dist: trusty
sudo: required

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/.composer/cache/files

language: php

php:
  - 7.1

before_script:
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  - sudo chmod -R 0777 var/logs var/cache
  # just show the current directory tree
  - ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'
  # enable php-fpm
  - if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf; fi
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ls -l ~/.phpenv/versions/
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  # configure apache virtual hosts
  - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/default
  - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
  - sudo service apache2 restart
  # install project
  - cp app/config/parameters.yml.travis app/config/parameters.yml
  - composer install -vv
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:schema:create --env=test
  - php bin/console doctrine:schema:update --env=test --force
  - php bin/console hautelook:fixtures:load --env=test --no-interaction
  - yarn install
  - node_modules/.bin/encore production

script:
  - vendor/bin/phpunit -v --coverage-text
  - node_modules/.bin/jshint --config=.jshintrc app/Resources/AppBundle/assets/js

deploy:
  - provider: heroku
    api_key:
      secure: LOeGmWtq5fEEpBGA8c0OcofPeGzDaP/UPjgEUfQqBKlemirauwC/E6OrCbQjnoGQBUoB1h/GailozlAO7x2OGQ+Bdflvk7TUonLSicTVsKlhAaZPH7508wwvSWy5lv8CmtHR4lPu2Xm9UfN/GORDyYvL/TK7LFq9Az+I1f4FNvbOb1ujOdqX2DgXqNoNKShG+t+TQbdWWXjHr9ZOhAYAEPlEjvPlMbeHx4R2sarEolrwYU0iUnCjMZbcD8S1PxIk5sPXXrGBv1IBJb4CxOw1UcTyMHd7tzX0JynticfucQcv4RLhPihmzfkoBVTZ22eAFRZYJ89oeNYV9tNb/dSOt1LaRHuiJA8leBbz5hVxeqmVtM3LRffNpMZZ1ZFdv/G1blYnMMmqifg44l5rs/s4Nbsmai3eU8w+URI/IINf84C11M1D6aukKFPYe7n7q8MxkCs8NVqi4bgOTN0iRIbQrbVfXCKK6Ki36wOqhe/97rkB43YLGVUW5iHPjrxhayqaJnXfdUhGs9aQttunuGlWZfs98MDP8Tw8ykK5+v/WSPm1fxbYd2VL782tthPix3LuWw6bP5RmoYjmcuPS6Gt9bcxiThHsQhotSpNYwzQ+dqgtiIhsQnI8iUd8U7eSogz5V9kch0bFYiyNJL7iBHxBJqs31QotGWeq48MejJ952y0=
    app: surveythor-demo-app
    on:
      repo: projektmotor/surveythor-demo
      branch: master
      php: 7.1
  - provider: heroku
    api_key:
      secure: bFtt9RXC8HeBI+IBY9Wod6vsCd0yMvQ3SGb45mccBs0VVXDwBXCs+i1ry5SU892YqUEci5zb5BsGNm/Acka39o+kE9jfi5OGosHsxjaqu14xwPv3NLE7drMm/U+q5JTzx+3l9lY+AVkoXcDYt6YZHN8c6LK/2eFEvBG3bShw6OJcQj0m6aHNi27S6ywYDwtxLI24Vz+VmN+AMj+DG/sBmmsTipLT3t5kTo79pl4DYPfUvTo1M2rrcJI4+CSZb3FB3w5doGwtiGJFsXV2hBMHYywN15hg9gNdl1o6WU8GgvQHDATGYrWFjb6DhM9B8jlTVvg9r/jTkX0M1l8FsZfJKCiY1pSzw3iieoAhgTk7UAsUqXOHfxerWFiTbzgnS/lVxlCNvMYHF8ICzAfmpMmoj917Njy2HCzcYmA4XD3Qc5MyTfdHd0bVEgJZN+28YiZwVtTM9E0tsEkBpdnXyemJ751+Ho8bi10Opq9JA/xPustLcSM2jhKnDEMO/xbL6D3oRC0d6WMzwUuilhTrhS4TTJsKS57knF5+PAuf1CmkKA2A/K1uvddh1AQEWpZ9dA/mTL0qHjAWei4RXsbcG9yX5O/8bpTYInUr7U+Be4HwjE9TuYhMYjc7BdwYgmRzP+Mgocuc4phVDBDxEgxIxxXCFI1J7kuMzUHU2eYwoixVJwI=
    app: surveythor-demo-frontend-app
    on:
      repo: projektmotor/surveythor-demo
      branch: master
      php: 7.1

addons:
  sauce_connect:
    username: robertfausk
  jwt:
    secure: EYYqEaXspIqsv03c+crFZmqOsjUaFaJip2Rhm2ResZGoXbcGNeGpE/Jw5f6r4UzsBMWVkN4Mi/GgQWZ+KnpZQDJ/BqJQviY5gAxJ0d7pT3EsycX1NjQRSudaa9O6EmsZKJjrBP9wj+HKES9u5lO/CN3qMowW5ijS8sh82okoYEa/9FwMC5HGQKgqCwjX+mWyVPwrL/kkbV5H+7fLVrKjECJSk+Uf8q6znEgkGpK/jQ08WW6sdwCjYX8lguSVZ1X18NPirchcYiaEwdEBeMCs7jq6GxNCnpDtOogPqTub9ZK5TpPKmSQmtLolpneDPKOjzY6uzUiREXMB2aMV1n0qxpOi+57c8bzwulZJVJol1lyICL/7YUT+riy1mOH5En8TuSba3ixHdJYJ7TfdcVUdg6Cm6zDeHqf8VAkISFHNxLyZOCpNMIa4FNr9FCtGgICnVMRZyzcZNDgyDsEJgwsRPWm4DNq7nOtSIpIodpESUhGja53sFsgg7r7GqGtRYqldVCTSCq5sQN0yI/cjUbpcddPzbt4TLR/13/AgwPGL1ELy50YyZteVLRlB5xw24hLFw3/xt2ArGTS/KN2ecZ7REt3jVjKhxLAs4Qkez1GX7ms2u4MUvK2hWNbCQinbR4CA9yczZLp4AtW56gpPJQUviu7M1cCwySFNMZo+CGopDlg=

services:
  - mysql

after_failure:
  - cat /etc/apache2/sites-available/default
  - ls var/logs
  - cat var/logs/test.log
  - cat var/logs/apache-access.log
  - cat var/logs/apache-error.log
