<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Surveythor - Demo{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <h3 style="color: #959595;">Surveythor</h3>
            <hr />
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
