<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Surveythor - Demo{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand pm-navbar-brand" href="">
                        <img src="http://projektmotor.de/favicon.ico" />
                    </a>
                    <ul class="nav navbar-nav">
                        <li class="first">
                            <a href="">Dashboard</a>
                        </li>
                        <li class="active">
                            <a href="">Umfragen</a>
                        </li>
                        <li class="last">
                            <a href="">Nutzer</a>
                        </li>
                    </ul>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p class="navbar-text navbar-right">Angemeldet als <a href="#" class="navbar-link">Rombok Raft</a>&nbsp;&nbsp;</p>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container-fluid">
            <h3 style="color: #959595;">Surveythor</h3>
            <hr />
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
