# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    mink_base_url: http://surveythor-demo/app_test.php/
    mink_host: hub
    mink_port: 4444
    mink_type: default

    mink_api_username_env_name: 'SAUCE_USERNAME'
    mink_api_key_env_name: 'SAUCE_ACCESS_KEY'
    mink_tunnel_id_env_name: 'TRAVIS_JOB_NUMBER'

    twig.param.surveythor_host: 'http://surveythor-frontend/app_dev.php'
