#js-st-surveythor-container {
    .resultitem-title {
        text-decoration: underline;
        font-weight: bold;
    }
    label.control-label {
        display: block;
        margin: 20px 0 10px;
    }
    button {
        margin-top: 16px;
    }
}
