// customize some Bootstrap variables
//$brand-primary: darken(#428bca, 20%);

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// set if you're also including font-awesome
$fa-font-path: "~font-awesome/fonts";

// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// @import '~bootstrap-sass/assets/stylesheets/bootstrap/alerts';
* {
    border-radius: 0 !important;
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
    text-rendering: optimizeLegibility !important;
}
.navbar-default li.current {
    background: #d7d7d7;
}
