{% extends '::base.html.twig' %}

{# survey \PM\SurveythorBundle\Entity\Survey #}

{% block navbar %}{% endblock %}
{% block body %}

    ...external content...
    <div id="js-st-surveythor-container" style="border: 1px solid grey;">
        ... survey will be placed in here ...
    </div>
    ...external content...
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('build/frontend.js') }}"></script>
    <script type="application/javascript">
        var params = {
            surveyId: {{ survey.getId }},
            surveythorHost: 'http://surveythor-frontend/app_dev.php',
        };

        Surveythor(params);
    </script>
{% endblock %}

