{{ form(bunnyUserForm, {'attr': {'novalidate': 'novalidate'}}) }}

<button
        class="btn btn-default st-button pull-right js-st-survey-button"
        data-url="{{ url('bunny_result_evaluation', { 'result': result.getId }, true) }}"
>
    {{- 'bunny_evaluation.button.next'|trans -}}
</button>

<div class="clearfix"></div>
