<div style="display: flex; flex-flow: row nowrap; justify-content: space-around">
    <div class="btn btn-sm">
        <a href="{{ path('result_new', {'survey': survey.id}) }}">github.com</a>
    </div>
    <div class="btn btn-sm">
        <a href="{{ path('result_new', {'survey': survey.id, 'embedFrame': 'psde'}) }}">Pokerstars.de</a>
    </div>
    <div class="btn btn-sm">
        <a href="{{ path('result_new', {'survey': survey.id, 'embedFrame': 'css-tricks'}) }}">css-tricks.com</a>
    </div>
</div>