{% extends '@AppBundle/Result/Frame/' ~ embedFrame ~ '.html.twig' %}

{% block embed_links %}
    {% include('@AppBundle/Result/embedMenu.html.twig') %}
{% endblock %}

{% block surveythor_container %}
    <div id="js-st-surveythor-container" class="flex-container"></div>
{% endblock %}

{% block result_widget %}
    {{- include('@AppBundle/Result/widget.html.twig', {'survey': survey}) -}}
{% endblock %}