<li class="">
    <a href="{{ path('embed_survey_edit', {'survey': survey.id}) }}">Umfrage bearbeiten</a>
</li>
<li class="js-menu-container">
    <a href="{{ path('embed_survey_execute', {'survey': survey.id}) }}">Umfrage durchführen</a>
</li>
<li class="js-menu-container">
    <a href="{{ path('embed_survey_evaluate', {'survey': survey.id}) }}">Umfrage auswerten.</a>
</li>
