{# user \AppBundle\Entity\User #}

{% extends '::base.html.twig' %}

{% block body %}

    <h1>Nutzer "{{ user.getUsername }}" ändern</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Speichern und zurück zur Liste"
           class="btn btn-default pull-right"/>
    {{ form_end(form) }}

{% endblock %}
